

.login-div {
  height: 100%;
  width: 30%;
  margin-top: 7%;
  margin-left: 35%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.example-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);  
  border-radius: 8px;  
  padding: 20px;  
  transition: box-shadow 0.3s ease; 
}

.btn-block {
  display: flex;
  width: 50%;
}

.title {
  display: flex;
  justify-content: center;

  h1 {
    font-weight: 500;
  }

}

.info {
  margin-top: 5%;

  p {
    margin-bottom: 0;
  }

  span {
    margin-left: 1.5%;
    font-weight: 450;
    cursor: pointer;
    color: blue;
  }
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin-bottom: 0;
    margin-top: 4%;
    font-weight: 450;
    font-size: 13px;
    color: red;
    cursor: pointer;
  }
}