<div class="login-div">

    <div>

        <mat-card class="example-card">
            <div class="title">
                <h1>Login</h1>
            </div>

            <mat-card-content>

                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input [type]="visibility ? 'text' : 'password'" matInput formControlName="password">
                        <span matSuffix (click)="hideShowPass()" style="cursor: pointer;padding-right: 5px;">
                            <mat-icon *ngIf="visibility">visibility</mat-icon>
                            <mat-icon *ngIf="!visibility">visibility_off</mat-icon>
                          </span>
                    </mat-form-field>

                    <div class="btn-div">

                        <button mat-stroked-button color="accent" class="btn-block" [disabled]="loginForm.invalid">
                            Log in
                        </button>

                    </div>

                </form>

                <div class="info">
                    <p>Don't have an Account?  <span (click)="signup()">SignUp</span></p>
                </div>


            </mat-card-content>


        </mat-card>

    </div>

</div>

