<mat-card class="cart-card">
    <div class="checkout-div">
      <div class="frow1 bill">
  
        <div class="bill-form">
          <div class="fcol">
            <p class="title">Billing Details</p>
  
            <form class="checkout-form" [formGroup]="billForm">

                <mat-form-field class="example-full-width form-field">
                    <mat-label>Patient Name</mat-label>
                    <mat-select formControlName="patient_name">
                      <mat-option *ngFor="let data of patientName" [value]="data">
                        {{ data }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="billForm.get('patient_name')?.hasError('required')">
                        Patient Name is required
                      </mat-error>
                  </mat-form-field>
          
  
              <mat-form-field  class="form-field">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="number" placeholder="Enter Mobile Number" formControlName="mobile" />
                <mat-error *ngIf="billForm.get('mobile')?.hasError('required')">
                  Mobile Number is required
                </mat-error>
                <mat-error *ngIf="billForm.get('mobile')?.hasError('pattern')">
                  Enter a valid 10-digit Mobile Number
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter Address" formControlName="address" />
                <mat-error *ngIf="billForm.get('address')?.hasError('required')">
                  Address is required
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter City" formControlName="city" />
                <mat-error *ngIf="billForm.get('city')?.hasError('required')">
                  City is required
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field">
                <mat-label>State</mat-label>
                <input matInput placeholder="Enter State" formControlName="state" />
                <mat-error *ngIf="billForm.get('state')?.hasError('required')">
                  State is required
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field">
                <mat-label>Zip Code</mat-label>
                <input matInput type="text" placeholder="Enter Zip Code" formControlName="zipcode" />
                <mat-error *ngIf="billForm.get('zipcode')?.hasError('required')">
                  Zip Code is required
                </mat-error>
                <mat-error *ngIf="billForm.get('zipcode')?.hasError('pattern')">
                  Enter a valid 6-digit Zip Code
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field">
                <mat-label>Delivery Type</mat-label>
                <mat-select formControlName="delivery_type" placeholder="Select Delivery Type">
                  <mat-option value="delivery">Delivery</mat-option>
                  <mat-option value="pickup">Pickup</mat-option>
                </mat-select>
                <mat-error *ngIf="billForm.get('delivery_type')?.hasError('required')">
                  Delivery Type is required.
                </mat-error>
                <mat-error *ngIf="billForm.get('delivery_type')?.hasError('pattern')">
                  Invalid Delivery Type selected.
                </mat-error>
              </mat-form-field>
  
              <mat-form-field  class="form-field">
                <mat-label>Chemist ID</mat-label>
                <input matInput placeholder="Enter Chemist ID" formControlName="chemistId" />
  
              </mat-form-field>
  
  
  
              <mat-checkbox color="warn" class="save-info" formControlName="auto_assign">
                Auto Assign
              </mat-checkbox>
  
            </form>
  
  
          </div>
        </div>
  
        <div class="bill-card fcol">
  
  
          <mat-card class="bill-box">
            <mat-card-header class="bill-header">
              <mat-card-title>Cart Total</mat-card-title>
            </mat-card-header>
  
            <mat-card-content>
              <div class="frow bill-amo">
                <p>Subtotal :</p>
                <p>{{ subtotal | currency : 'INR':'symbol' }}</p>
              </div>
              <hr />
              <div class="frow bill-amo">
                <p>Shipping :</p>
                <p>{{shippingCharges | currency : 'INR':'symbol'}}</p>
              </div>
              <hr />
              <div class="frow bill-amo">
                <p>Total :</p>
                <p>{{ subtotal + shippingCharges | currency : 'INR':'symbol' }}</p>
              </div>
            </mat-card-content>
  
            <mat-card-actions>
              <button
                mat-raised-button
                color="warn"
                class="proceed"
                [disabled]="billForm.invalid"
                (click)="placeOrder()"
              >
                Place Order
              </button>
            </mat-card-actions>
            <div class="route-to-signup">
              <small>Want to go back? <a (click)="returntohome()">Home</a></small>
            </div>
  
          </mat-card>
        </div>
      </div>
  
      </div>
  
  
  
  </mat-card>