<div class="medicine-card">
    <img [src]="medData.medicine_image" 
         [alt]="medData.medicine_name" 
         class="medicine-image"
         loading="lazy">
    <div class="medicine-details">
        <h2 class="medicine-name">{{medData.medicine_name}}</h2>
        <div class="manufacturer">
            Manufacturer
            <span>{{medData.manufacturer_name}}</span>
        </div>
        <div class="medicine-info">
            How it works
            <span>{{medData.how_medicine_works}}</span>
        </div>
        <div class="packing-size">
            Packing Size
            <span>{{medData.packing_size}}</span>
        </div>
        <div class="effects">
            <p>Alcohol Effect<span>{{medData.alcohol}}</span></p>
            <p>Kidney Effect<span>{{medData.kidney}}</span></p>
            <p>Liver Effect<span>{{medData.liver}}</span></p>
            <p>Pregnancy Effect<span>{{medData.pregnancy}}</span></p>
        </div>
    </div>
</div>