<div class="main-div">
    <div *ngFor="let data of medicines" class="card">

        <div class="medicine-card">
            <img [src]="data.medicine_image || '../../../assets/image/medicine.jpg'" 
            [alt]="data.medicine_name" 
            class="medicine-image"
            loading="lazy">            <div class="medicine-info">
                <h3 class="medicine-name">{{data.medicine_name}}</h3>
                <h3 class="manufacturer-name">{{data.manufacturer_name}}</h3>
                <div class="avail">
                    <p class="medicine-price">₹{{data.mrp}}</p>
                    <small *ngIf="data.available" class="available">Available</small>
                    <small *ngIf="!data.available" class="notavailable">Not Available</small>
                </div>
                <div class="medicine-actions">
                    <button class="info-btn" (click)="onInfo(data)">Info</button>
                    <button class="add-cart-btn" (click)="addToCart(data)">Add to Cart</button>
                </div>
            </div>
        </div>


    </div>
</div>


