<div class="footer">
    <div class="frow space">

        <div class="f-sec1">
            <h4>Evitalrx</h4>
            <div class="fcol">
                <div>
                    <h6>Subscribe</h6>
                    <p>Get 10% off your first order</p>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter your email">
                    <div>
                        <button mat-icon-button aria-label="Send">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="frow1">
            <div class="f-sec3">
                <h6>Account</h6>
                <div class="fcol">
                    <div>
                        <p>My Account</p>
                        <p>Login / Register</p>
                        <p>Cart</p>
                        <p>Orders</p>
                    </div>
                </div>
            </div>

            <hr class="mhr">

            <div class="f-sec4">
                <h6>Quick Link</h6>
                <div class="fcol">
                    <div>
                        <p>Privacy Policy</p>
                        <p>Terms of Use</p>
                        <p>FAQ</p>
                        <p>Contact</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mhr2">

        <div class="f-sec2">
            <h6>Support</h6>
            <p>evitalex@help.com</p>
            <p>+885-685-5424</p>
        </div>




    </div>

    <p class="copy">&copy; CopyRight Evitalrx-demo 2024. All Right Reserved</p>
</div>