<div class="footer">
    <div class="frow space">
  
        <div class="f-sec1">
            <h4>Evitalrx</h4>
            <div class="fcol">
                <div>
                    <h6>Subscribe</h6>
                    <p>Get 10% off your first order</p>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter your email">
                    <div>
                      <button mat-icon-button aria-label="Send">
                        <mat-icon>send</mat-icon>
                      </button>
                                        </div>
                </div>
            </div>
        </div>
  
        <div class="frow1">
            <div class="f-sec3">
                <h6>Account</h6>
                <div class="fcol">
                    <div class="ele">
                        <p>My Account</p>
                        <p>Login / Register</p>
                        <P>Cart</P>
                    </div>
                    <div>
                        <p>Order</p>
                    </div>
                </div>
            </div>
  
            <hr class="mhr">
  
            <div class="f-sec4">
                <h6>Quick Link</h6>
                <div class="fcol">
                    <div class="ele2">
                        <p>Privacy Policy</p>
                        <p>Terms of Use</p>
                    </div>
                    <div>
                        <p>FAQ</p>
                        <p>Contact</p>
                    </div>
                </div>
            </div>
        </div>
  
        <hr class="mhr2">
  
        <div class="f-sec2">
            <h6>Support</h6>
            <div class="fcol ctr">
                <p>evitalex&#64;help.com</p>
                <p>+885-685-5424</p>
            </div>
        </div>
  
  
  
  
    </div>
  
    <hr class="chr" style="border-color: rgb(255,255,255);">
    <p class="copy" style="margin-bottom: 0;">&copy; CopyRight Evitalrx-demo 2024. All Right Reserved</p>
  </div>